body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chat-window{
    width: 100%;
    height: 100%;
    /*background-color: green;*/
}


.user-secccion{
    width: 100%;
    max-height: 10%;
}

.messages-section{
    padding: 1rem;
    background-color: #CBF5FF;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.message-text{
    word-break: break-all;
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.received-message{
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 70%;
    min-width: 10%;
    mat-card{
        background-color:#EFFBEF;        
    }
}

.sent-message{
    margin-top: 1rem;
    max-width: 70%;
    margin-left: 33.3%;   
    mat-card{
        background-color: #CED8F6;
        
    }
}

.input-form{
    width: 100%;
    height: 10%;
    bottom: 0;       
    background-color: #EFEFEF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.input-area{
    width: calc(100% - 100px);
    /*height: 100%;*/
    /*background-color: chartreuse;*/
    /*display: inline-block;*/
    
}

.send-button-area{
    width: 100px;
    height: 100%;
    /*background-color: aqua;*/
    display:flex;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}
.mat-input{ 
    margin-left: 10px;    
    width: 100%;
    height: 39px;
    border: none;
    border-bottom: 1px;
    border-bottom-color: #3f51b5;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;

    :focus{
       
    }
}


.mat-form-field{
    display: inline
}