/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*Gloabl form styles*/
.form-field-fullwidth {
    width: 100%;
}

.center {
    width: 100%;
}
.center > * {
    margin: 0 auto;
}