<section class="connect-search-params">
  <div class="row">
    <div class="col col-xs-3">
      <div class="form-group">
        <label>
          Knowledge in
        </label>
        <input type="text" class="form-control" placeholder="Input">
      </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group">
        <label>
          Looking to learn
        </label>
        <input type="text" class="form-control" placeholder="Input">
      </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group">
        <label>
          Knowledge level
        </label>
        <input type="text" class="form-control" placeholder="Input">
      </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group">
        <label>
          Gender
        </label>
        <input type="text" class="form-control" placeholder="Input">
      </div>
    </div>
  </div>
</section>
<section class="connect-search-results">
  results section
</section>