<div class="sidebar-content">
  <div class="sidebar-userinfo">
    <div class="settings-cta">
      <a routerLink = '/profile' title="Go to profile settings">
        <i class="fas fa-cog fa-2x"></i>
      </a>
      <a routerLink = 'connect' title="Connect and learn">
        <i class="fas fa-users fa-2x"></i>
      </a>
    </div>
    <img class="userinfo-image" src="/assets/images/default_profile_pic.png" alt="">
    <div class=" userinfo-name">
      <h5>{{userInfo?.name}}</h5>
    </div>
  </div>
  <hr />
  <div class="sidebar-friends">
    <div class="search-friends">
      <input class="form-control" type="text" placeholder="Search">
    </div>
    <div class="friends-list">
      <div class="friend-item-wrapper">
        <a routerLink="chat/2123">
          <mat-card>
            <div class="friend-card">
              <img class="friend-card-image" src="/assets/images/default_profile_pic.png" alt="">
            </div>
            <div class="friend-card">
              <div class="friend-card friend-card-name">User</div>
            </div>
          </mat-card>
        </a>
      </div>

    </div>
  </div>
</div>