<div class="sidebar-content">
  <div class="sidebar-userinfo">
    <div class="settings-cta">
      <a routerLink = '/profile' title="Go to profile settings">
        <i class="fas fa-cog fa-2x"></i>
      </a>
      <a routerLink = 'connect' title="Connect and learn">
        <i class="fas fa-users fa-2x"></i>
      </a>
    </div>
    <img class="userinfo-image" src="/assets/images/default_profile_pic.png" alt="">
    <div class=" userinfo-name">
      <h5>{{userInfo?.name}}</h5>
    </div>
  </div>
  <hr />
  <div class="sidebar-friends">
    <div class="search-friends">
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="findName">
    </div>
    <div class="friends-list">
      <div class="friend-item-wrapper" *ngFor="let friend of (friendsList.reverse() | friendsFilter: findName) ">
        <a routerLink="chat/{{ friend.isRoom?'room':'user' }}/{{friend.userid}}">
          <mat-card>
            <div class="friend-card">
              <img class="friend-card-image" src="/assets/images/default_profile_pic.png" alt="" *ngIf="!friend.isRoom">
              <span *ngIf="friend.isRoom">(ROOM) </span>
            </div>
            <div class="friend-card">
              <div class="friend-card friend-card-name">{{friend.name}}</div>
            </div>
          </mat-card>
        </a>
      </div>

    </div>
  </div>
</div>