<div class="chat-window">
  <div class="user-secccion sticky-top">
    <mat-card class="animated fadeIn fast">
      <mat-card-header>
        <img mat-card-avatar [src]=" mockup_user.profile_pic">
        <mat-card-title>
          <i *ngIf="mockup_user.status" class="fas fa-circle fa-xs mx-1" style="color:#2EFE2E"></i>
          <i *ngIf="!mockup_user.status" class="fas fa-circle fa-xs mx-1" style="color:#585858"></i>
          {{userInfo?.name}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="messages-section">

    <!--Diseño para mensajes recibidos 1-1-->

    <span *ngFor="let mensaje of mensajes">
      <div class="received-message message-text" *ngIf="mensaje.type == 'received'">
        <mat-card>
          {{mensaje.texto}}
        </mat-card>
      </div>


      <!--Diseño mensaje recibidos rooms-->
      <!--<div class="received-message message-text" *ngFor="let mensaje of mensajes_recibidos">
      <mat-card>
        <mat-card-subtitle>
          <strong>
            {{mensaje.emisor}}
          </strong>
          {{mensaje.fecha | date :medium}}
        </mat-card-subtitle>
        {{mensaje.texto}}
      </mat-card>
    </div>-->


      <!--Diseño para mensaje enviado-->
      <div class="sent-message message-text" *ngIf="mensaje.type == 'sent'">
        <mat-card>
          {{mensaje.texto}}
        </mat-card>
      </div>
    </span>
  </div>

  <div class="input-form">
    <div class="input-area">
      <form [formGroup]="forma">
        <textarea placeholder="Escribe aqui tu mensaje" class="mat-input mt-3" formControlName="mensaje"></textarea>
      </form>
    </div>
    <div class="send-button-area">
      <button mat-fab color='primary' (click)=" enviar()">
        <i class="fas fa-paper-plane fa-lg "></i>
        <!--
          <mat-icon>send</mat-icon>
          -->
      </button>
    </div>
  </div>
</div>