<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Wellcome to chatium</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!waitingSessionResponse">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Login">
          
            <mat-form-field class="form-field-fullwidth">
            <input matInput [(ngModel)]="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="form-field-fullwidth">
            <input matInput [(ngModel)]="password" placeholder="Password" type="password">
            </mat-form-field>

            <button mat-button (click)="doLogin()">Login</button>

          </mat-tab>
        <mat-tab label="Sign up">

          <form [formGroup]="registerForm" (ngSubmit)="doCreateAccount()">
            <mat-form-field class="form-field-fullwidth">
            <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-field-fullwidth">
            <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="form-field-fullwidth">
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <div class="form-field-fullwidth">
              <span class="genderLabel">Gender:</span>
              <mat-form-field>
                <select matNativeControl required formControlName="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </mat-form-field>
            </div>

            <button mat-button>Register</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <div class="center">
      <mat-progress-spinner mode="indeterminate" *ngIf="waitingSessionResponse"></mat-progress-spinner>
    </div>
  </mat-card>
</div>