<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Settup your account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Native language</ng-template>
            <div class="row fields-container">
              <div class="col col-sm-12 col-md-4 offset-md-1 offset-md-0">
                <h5>Select your native language</h5>
                <mat-form-field class="form-field-fullwidth">
                  <mat-select placeholder="Native Language" formControlName="nativeLanguage">
                    <mat-option *ngFor="let language of supportedLanguages" [value]="language.code">
                      {{language.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col col-sm-12 col-md-4 offset-md-1 offset-md-0">
                <h5>Select your country</h5>
                <mat-form-field class="form-field-fullwidth">
                  <mat-select placeholder="Country" formControlName="country">
                    <mat-option *ngFor="let country of supportedCountries" [value]="country.code">
                      <img class="country-flag-img" [src]="country.icon">
                      <span class="country-name">{{country.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Secondary</ng-template>

            <h5>Add the seconday languages that you speak </h5>
            <div class="row fields-container">
              <div class="col col-md-3 col-sm-12 offset-md-3 offset-sm-0">
                <mat-form-field class="form-field-fullwidth">
                  <mat-select placeholder="Language" formControlName="newLanguage">
                    <mat-option *ngFor="let language of supportedLanguages" [value]="language.code">
                      <span>{{language.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col col-md-2 col-sm-3">
                <mat-slider min="1" max="5" step="1" value="1" formControlName="newLanguageLevel"></mat-slider>
              </div>
              <div class="col col-md-1 col-sm-3">
                <label>Level: <strong>{{languageLevelValues[secondFormGroup.controls.newLanguageLevel.value]}}</strong></label>
              </div>
              <div class="col col-md-1 col-sm-3">
                <button mat-fab color="accent" (click)="addSecondaryLanguage()">Add</button>
              </div>
            </div>
            <br />
            <div class="row" *ngIf="secondaryLanguagesArr.length > 0">
              <div class="col col-md-8 col-sm-12 offset-md-2 offset-sm-0">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th>Language</th>
                      <th>Level</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let secondaryLanguage of secondaryLanguagesArr">
                      <td>{{countryLanguage.getLanguageByCode(secondaryLanguage.language).name}}</td>
                      <td>{{languageLevelValues[secondaryLanguage.level]}} ({{secondaryLanguage.level}})</td>
                      <td><button mat-fab color="warn" (click)="removeCurrentSecondaryLanguage(secondaryLanguage.language)">Remove</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Learning</ng-template>
          <form [formGroup]="lastFormGroup">
            <ng-template matStepLabel>Secondary</ng-template>

            <h5>Select the language you are currently learning</h5>
            <div class="row fields-container">
              <div class="col col-md-4 col-sm-12 offset-md-4 offset-sm-0">
                <mat-form-field class="form-field-fullwidth">
                  <mat-select placeholder="Language" formControlName="learningLanguage">
                    <mat-option *ngFor="let language of supportedLanguages" [value]="language.code">
                      <span>{{language.name}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="sendUserLanguageConfig()">Finish</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>