.container {
    margin-top: 80px;
}

.country-flag-img {
    width: 30px;
}

.country-name {
    margin-left: 10px;
}
mat-slider {
    width: 100%;
}

table {
    width: 100%;
    th, td {
        text-align: center !important;
    }

    td {
        vertical-align: text-bottom;
    }
}